* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* height: 100vh; */
  /* background: linear-gradient(to bottom, #8faed6, #e6f1ff) !important; */
  /* background-color: #f5f5ff6e !important; */
  background: linear-gradient(135deg, #e6e6fa, #d8d8ff93);
}
.main_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}
ul li {
  list-style-type: none;
  color: #4a256e;
}
a {
  text-decoration: underline;
  color: #4a256e;
  font-weight: bold;
}
.context_upload_test_case_container {
  margin-top: 1rem;
  background-color: white;
  /* padding-bottom: 1rem; */
}
